cloud_id = ""
folder_id = ""
zone = "ru-central1-a"
image_id = ""
public_key_path = "~/.ssh/id_rsa.pub"
subnet_id = ""
service_account_key_file = "/home/ubuntu/keys/key.json"
private_key_path = "~/.ssh/id_rsa"
